{
  "tagFormat": "${version}",
  "branch": "master",
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    "@semantic-release/github",
    "@semantic-release/git"
  ],
  "verifyConditions": [
    "@semantic-release/changelog",
    "@semantic-release/git",
    "@semantic-release/github",
    "@qiwi/semantic-release-gh-pages-plugin"
  ],
  "publish": [
    [
      "@semantic-release/exec",
      {
        "publishCmd": "./publish.sh"
      }
    ],
    "@semantic-release/github",
    {
      "path": "@qiwi/semantic-release-gh-pages-plugin",
      "msg": "deploy: new sig.tools gh-pages release",
      "src": "build",
      "branch": "gh-pages",
      "pullTagsBranch": ""
    }
  ],
  "success": [
    "@semantic-release/github"
  ],
  "fail": [
    "@semantic-release/github"
  ]
}
